---
import Layout from "@layouts/Layout.astro";
import PageHeader from "@components/PageHeader.astro";
import PageContent from "@components/PageContent.astro";
import { ContactForm } from "@/components/ContactForm";
import { CopyText } from "@/components/CopyText";
import { Separator } from "@/components/ui/separator";
import { Mails, MapPin, Phone } from "lucide-react";

const metaTitle = "Contact Eagles | Diamond Eagles USA";
const metaDescription = "";
const metaKeywords = "";
---

<Layout {metaTitle}>
	<PageHeader title="Contact Eagles" />
	<PageContent>
		<section class="prose-sm dark:prose-invert md:prose lg:prose-xl">
			<h3 class="mb-8 md:mb-12 lg:mb-16 2xl:mb-24">
				Do you have questions or want to join the prestigious group of Diamond
				Eagles USA plebiscite winners?
			</h3>
			<div
				class="grid grid-cols-1 lg:grid-cols-[1fr_0.75fr] gap-6 md:gap-x-16 lg:gap-x-20 relative"
			>
				<div class="form-wrap">
					<ContactForm client:load />
				</div>
				<Separator className="block lg:hidden gap-y-4" />
				<Separator
					orientation="vertical"
					className="hidden lg:block absolute top-0 left-[56.5%]"
				/>
				<div class="info-wrap">
					<div class="info-wrap">
						<div class="info-row">
							<div class="info-label"><Mails /> Email Us:</div>
							<div class="info-desc">Our team is ready to assist</div>
							<div class="info-content">
								<a
									href="mailto:plebiscyt@diamondeaglesusa.com"
									target="_self"
									title="Contact Us">plebiscyt@diamondeaglesusa.com</a
								>
								<span class="copy">
									<CopyText text="plebiscyt@diamondeaglesusa.com" client:load />
								</span>
							</div>
						</div>
						<Separator className="my-4 md:my-6 lg:my-10 sm:mx-auto !w-2/3" />
						<div class="info-row">
							<div class="info-label"><Phone /> Call Us:</div>
							<div class="info-desc">We're available Mon-Fri, 9am-5pm.</div>
							<div class="info-content">
								<a href="tel:+1234567890" target="_self" title="Call Us">
									+1 234 567 890
								</a>
								<span class="copy">
									<CopyText text="+1 234 567 890" client:load />
								</span>
							</div>
						</div>
						<Separator className="my-4 md:my-6 lg:my-10 sm:mx-auto !w-2/3" />
						<div class="info-row">
							<div class="info-label"><MapPin /> Visit Us:</div>
							<div class="info-desc">Drop by our office</div>
							<div class="info-content">
								<a
									href="https://maps.app.goo.gl/gYW6HyZpUEGJUfAd6"
									title="Find Us"
									target="_blank"
									rel="noreferrer nofollower external"
									>1234 Main St, Anytown, USA</a
								>
								<span class="copy">
									<CopyText text="1234 Main St, Anytown, USA" client:load />
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</PageContent>
</Layout>

<style lang="postcss">
	@reference '@styles/app.css';
	.info-wrap {
		@apply text-sm md:text-base;
        .info-row {
            @apply flex flex-col gap-y-2 relative;
            .info-label {
				@apply text-lg md:text-base flex flex-row gap-x-2 font-light;
                /* @apply mr-2; */
            }
            .info-content {
				@apply text-lg md:text-base flex flex-row items-start;
				&:hover, &:focus, &:focus-within {
					.copy {
						@apply !opacity-100;
					}
				}
            }
            .copy {
                @apply transition-opacity opacity-0;
            }
            &:hover, &:focus, &:focus-within {
                > .copy {
                    @apply opacity-75;
                }
            }
			.info-desc {
				@apply text-base md:text-sm text-muted dark:text-muted-foreground;
			}
        }
    }
</style>
