---

---

<section id="about">
	<div class="grid gap-14 lg:grid-cols-4 xl:grid-cols-5">
		<div class="md:col-span-2 xl:col-span-3">
			<h2 class="mb-10 text-2xl lg:text-3xl xl:text-4xl font-medium">
				Recognizing
				<span
					class="bg-gradient-to-tr from-primary to-primary-darker bg-clip-text text-transparent"
				>
					Excellence</span
				>.<br />
				Elevating Leaders<span
					class="bg-gradient-to-tr from-primary to-primary-darker bg-clip-text text-transparent"
					>.</span
				>
			</h2>
			<p>
				Diamond Eagles USA honors the top-performing businesses across the
				country—those who consistently deliver exceptional quality, drive
				growth, and lead with integrity. Each year, only a select few companies
				are chosen as regional leaders, earning the prestigious Eagle award for
				their standout achievements and commitment to excellence.
			</p>
			<p>
				Our mission is to help customers confidently choose the best local
				providers while empowering businesses to boost recognition, attract more
				customers, and strengthen their brand image. By joining the ranks of
				Diamond Eagles, companies gain a powerful edge — confirmation of their
				quality, increased market visibility, and a mark of trust that sets them
				apart from the competition.
			</p>
			<div class="mt-6 grid grid-cols-2 gap-6 text-center">
				<div class="about-stat">
					<span class="about-stat-number">2025</span>
					<span class="about-stat-text">Launched <span class="text-xl ml-2">🚀</span></span>
				</div>
				<div class="about-stat">
					<!-- <span class="text-2xl md:text-4xl">52 states</span><span
					class="text-sm text-muted-foreground md:text-lg"
					>Served across the U.S.
				</span> -->
					<span class="about-stat-number">52 states</span>
					<span class="about-stat-text">
						Served across
						<svg
							xmlns="http://www.w3.org/2000/svg"
							version="1.1"
							xmlns:xlink="http://www.w3.org/1999/xlink"
							viewBox="0 0 64 64"
							style="enable-background:new 0 0 512 512"
							xml:space="preserve"
							class="w-9 md:w-10 inline-block ml-2"
							><g
								><g fill="#ed5565"
									><path
										d="M39 18.5h5l3 3H27v-6.45l12 1.45zM52 42.5l1.12 3H24l-1 1h-1l-3-4h-3l-11-3h47zM48 27.5h10v6H27v-6h20zM63 17.5l-1 3v1h-8v-3h4l2-3h2z"
										fill="#c71023"
										opacity="1"
										data-original="#ed5565"
										class=""></path></g
								><g fill="#e6e9ed"
									><path
										d="m53.12 45.5 1.88 5h-4l-2-5zM27 21.5h20v6H27zM58 33.5l-6 6H5l-2.37-6H27zM35 45.5l-4 3v3h-2l-3-6zM62 21.5v2l-4 1v3H48l3-3v-3h3z"
										fill="#edf3fc"
										opacity="1"
										data-original="#e6e9ed"
										class=""></path></g
								><path
									fill="#205292"
									d="M27 21.5v12H2.63L1 29.37V20.5l2-4v-4l2 1 1-1 21 2.54v.01z"
									opacity="1"
									data-original="#5d9cec"
									class=""></path><g fill="#e6e9ed"
									><path
										d="M9 20.5a.997.997 0 0 1-.707-.293l-2-2a1 1 0 0 1 1.414-1.414l2 2A1 1 0 0 1 9 20.5z"
										fill="#edf3fc"
										opacity="1"
										data-original="#e6e9ed"
										class=""></path><path
										d="M7 20.5a1 1 0 0 1-.707-1.707l2-2a1 1 0 0 1 1.414 1.414l-2 2A.997.997 0 0 1 7 20.5zM15 20.5a.997.997 0 0 1-.707-.293l-2-2a1 1 0 0 1 1.414-1.414l2 2A1 1 0 0 1 15 20.5z"
										fill="#edf3fc"
										opacity="1"
										data-original="#e6e9ed"
										class=""></path><path
										d="M13 20.5a1 1 0 0 1-.707-1.707l2-2a1 1 0 0 1 1.414 1.414l-2 2A.997.997 0 0 1 13 20.5zM21 20.5a.997.997 0 0 1-.707-.293l-2-2a1 1 0 0 1 1.414-1.414l2 2A1 1 0 0 1 21 20.5z"
										fill="#edf3fc"
										opacity="1"
										data-original="#e6e9ed"
										class=""></path><path
										d="M19 20.5a1 1 0 0 1-.707-1.707l2-2a1 1 0 0 1 1.414 1.414l-2 2A.997.997 0 0 1 19 20.5zM9 30.5a.997.997 0 0 1-.707-.293l-2-2a1 1 0 0 1 1.414-1.414l2 2A1 1 0 0 1 9 30.5z"
										fill="#edf3fc"
										opacity="1"
										data-original="#e6e9ed"
										class=""></path><path
										d="M7 30.5a1 1 0 0 1-.707-1.707l2-2a1 1 0 0 1 1.414 1.414l-2 2A.997.997 0 0 1 7 30.5zM15 30.5a.997.997 0 0 1-.707-.293l-2-2a1 1 0 0 1 1.414-1.414l2 2A1 1 0 0 1 15 30.5z"
										fill="#edf3fc"
										opacity="1"
										data-original="#e6e9ed"
										class=""></path><path
										d="M13 30.5a1 1 0 0 1-.707-1.707l2-2a1 1 0 0 1 1.414 1.414l-2 2A.997.997 0 0 1 13 30.5zM21 30.5a.997.997 0 0 1-.707-.293l-2-2a1 1 0 0 1 1.414-1.414l2 2A1 1 0 0 1 21 30.5z"
										fill="#edf3fc"
										opacity="1"
										data-original="#e6e9ed"
										class=""></path><path
										d="M19 30.5a1 1 0 0 1-.707-1.707l2-2a1 1 0 0 1 1.414 1.414l-2 2A.997.997 0 0 1 19 30.5zM6 25.5a.997.997 0 0 1-.707-.293l-2-2a1 1 0 0 1 1.414-1.414l2 2A1 1 0 0 1 6 25.5z"
										fill="#edf3fc"
										opacity="1"
										data-original="#e6e9ed"
										class=""></path><path
										d="M4 25.5a1 1 0 0 1-.707-1.707l2-2a1 1 0 0 1 1.414 1.414l-2 2A.997.997 0 0 1 4 25.5zM12 25.5a.997.997 0 0 1-.707-.293l-2-2a1 1 0 0 1 1.414-1.414l2 2A1 1 0 0 1 12 25.5z"
										fill="#edf3fc"
										opacity="1"
										data-original="#e6e9ed"
										class=""></path><path
										d="M10 25.5a1 1 0 0 1-.707-1.707l2-2a1 1 0 0 1 1.414 1.414l-2 2A.997.997 0 0 1 10 25.5zM18 25.5a.997.997 0 0 1-.707-.293l-2-2a1 1 0 0 1 1.414-1.414l2 2A1 1 0 0 1 18 25.5z"
										fill="#edf3fc"
										opacity="1"
										data-original="#e6e9ed"
										class=""></path><path
										d="M16 25.5a1 1 0 0 1-.707-1.707l2-2a1 1 0 0 1 1.414 1.414l-2 2A.997.997 0 0 1 16 25.5zM24 25.5a.997.997 0 0 1-.707-.293l-2-2a1 1 0 0 1 1.414-1.414l2 2A1 1 0 0 1 24 25.5z"
										fill="#edf3fc"
										opacity="1"
										data-original="#e6e9ed"
										class=""></path><path
										d="M22 25.5a1 1 0 0 1-.707-1.707l2-2a1 1 0 0 1 1.414 1.414l-2 2A.997.997 0 0 1 22 25.5z"
										fill="#edf3fc"
										opacity="1"
										data-original="#e6e9ed"
										class=""></path></g
								></g
							></svg
						>
					</span>
				</div>
			</div>
		</div>
		<div class="placeholder">IMAGE PLACEHOLDER</div>
		<!-- <img
			src=""
			alt="placeholder"
			class="rounded-xl md:col-span-2 bg-muted/50"
		/> -->
	</div>
</section>

<style lang="postcss">
    @reference '@styles/app.css';
    .about-stat {
        @apply flex flex-col items-center justify-center gap-2 rounded-xl border bg-background;
        @apply p-4 pb-2 md:px-6 md:pt-6 md:pb-3 select-none;
        .about-stat-number {
            @apply text-2xl md:text-4xl;
        }
        .about-stat-text {
            @apply text-sm text-muted-foreground md:text-lg;
        }
    }
    .placeholder {
        @apply rounded-xl md:col-span-2 w-full aspect-3/2 bg-muted/50 shadow-sm;
        @apply flex justify-center items-center text-2xl lg:text-4xl font-semibold text-muted-foreground;
    }
</style>
