---
import { StatCard } from "@components/StatCard.tsx";

import { Flame, FileSearch, ChartNoAxesCombined } from "@lucide/astro";
---

<section class="stats-wrap">
	<div class="stats-card">
		<StatCard
			stat="593,504"
			text="evaluated companies"
			duration={3500}
			client:load
		>
			<ChartNoAxesCombined size="36" slot="icon" />
		</StatCard>
	</div>
	<div class="stats-card">
		<StatCard
			stat="293,482"
			text="evaluated companies"
			duration={2800}
			client:load
		>
			<Flame size="36" slot="icon" />
		</StatCard>
	</div>
	<div class="stats-card">
		<StatCard
			stat="393,504"
			text="evaluated companies"
			duration={4200}
			client:load
		>
			<FileSearch size="36" slot="icon" />
		</StatCard>
	</div>
</section>

<style lang="postcss">
	@reference '@styles/app.css';
	.stats-wrap {
		@apply grid grid-cols-1 justify-items-center gap-6 md:gap-4 md:grid-cols-2 lg:grid-cols-3 lg:gap-x-14;
		@apply md:max-w-[75vw] 2xl:max-w-[60vw] mx-auto;
		@apply py-6 lg:py-10 xl:pb-16;
		.stats-card {
			@apply block w-full max-w-[320px];
		}
	}
</style>
