---
import Layout from "@layouts/Layout.astro";
import HeroSection from "@components/Sections/HeroSection.astro";
import StatsSection from "@components/Sections/StatsSection.astro";
import AboutSection from "@components/Sections/AboutSection.astro";
---

<Layout full>
	<HeroSection />
	<StatsSection />

	<div class="container">
		<AboutSection />
	</div>
</Layout>
