---
const currentYear: String = new Date().getFullYear().toString();

import FacebookButton from "@components/FacebookButton.astro";
import InstagramButton from "@components/InstagramButton.astro";
---

<footer>
	<div class="footer-wrap">
		<span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
			>&copy;2023-{currentYear}
			<span class="font-medium">US Business Ventures LLC</span>. All Rights
			Reserved.
		</span>
		<ul>
			<li>
				<InstagramButton />
			</li>
			<li>
				<FacebookButton />
			</li>
		</ul>
	</div>
</footer>

<style lang="postcss">
    @reference '@styles/app.css';
	footer {
		@apply bg-gray-100/80 rounded-lg shadow-sm m-4 dark:bg-zinc-900/75;
	}
    .footer-wrap {
        @apply w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between;
    }
    ul {
        @apply flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0;
        @apply gap-2 md:gap-3;
        li {
            @apply flex justify-center ;
            a {
                @apply transition-colors cursor-pointer;
                &:hover, &:focus {
                    @apply text-primary-darker dark:text-primary;
                }
                svg {
                    @apply h-6 w-6 fill-none;
                }
            }
        }
    }
    
</style>
