---
import Logo from "./Logo.svelte";
import { ThemeChange } from "@components/ThemeChange";
import { MenuBar } from "@components/MenuBar.tsx";
import FacebookButton from "@components/FacebookButton.astro";
import InstagramButton from "@components/InstagramButton.astro";

const currentPath = Astro.url.pathname;

const links: {
	label: string;
	href: string;
	children?: { label: string; href: string; description?: string }[];
}[] = [
	{
		label: "About Eagles",
		href: "/about",
	},
	{
		label: "Industries",
		href: "/industries",
		children: [
			{
				label: "Industry 1",
				href: "/",
				description: "Desc 1",
			},
			{
				label: "Industry 2",
				href: "/",
			},
			{
				label: "Industry 3",
				href: "/",
			},
			{
				label: "Industry 4",
				href: "/",
			},
			{
				label: "Industry 5",
				href: "/",
			},
			{
				label: "Industry 6",
				href: "/",
				description: "Desc 6",
			},
			{
				label: "Industry 7",
				href: "/",
			},
			{
				label: "Industry 8",
				href: "/",
			},
		],
	},
	{
		label: "Contact",
		href: "/contact",
	},
];
---

<div class="navbar">
	<div class="flex-1">
		<Logo header />
	</div>
	<div class="menu-horizontal">
		<MenuBar client:load {links} {currentPath} />
		<InstagramButton />
		<FacebookButton />
		<ThemeChange client:load />
	</div>
</div>

<style lang="postcss">
	@reference '@styles/app.css';
	.navbar {
		@apply z-10 sticky isolate top-0;
		@apply shadow-sm rounded-lg m-4;
		@apply flex flex-row items-center py-2 px-4;
		@apply dark:bg-zinc-900/80 bg-white/60 backdrop-blur-xs;
	}
	.menu-horizontal {
		@apply flex-none flex flex-row items-center gap-2 z-3;
		> li {
			@apply mx-1;
		}
	}
</style>
