---
const { title } = Astro.props;
---

<div class="dark:prose-invert prose-sm md:prose lg:prose-lg; header">
	<h1>{title}</h1>
</div>

<style lang="postcss">
    @reference '@styles/app.css';
    .header {
        @apply text-center;
        @apply flex-none;
    }
</style>
