---
const { stat, text, icon } = Astro.props;
---

<div
	data-slot="card"
	class="bg-card text-card-foreground flex flex-col gap-6 shadow-sm rounded-3xl border-2 p-4 md:p-5 xl:p-8 transition hover:-translate-y-3 hover:border-primary"
>
	<div class="block p-0">
		<div class="flex flex-col gap-4">
			<span
				class="relative flex justify-center items-center size-8 shrink-0 h-12 w-12 overflow-hidden rounded-full border"
			>
				<slot />
			</span>
			<div class="mt-4 text-4xl md:text-3xl lg:text-4xl xl:text-5xl leading-tight font-semibold">
				{stat}
			</div>
			<p class="mb-5 max-w-52 text-base lg:text-lg font-medium">
				{text}
			</p>
		</div>
	</div>
</div>