---
import "../assets/app.css";
import ThemeToggle from "../components/ThemeToggle.svelte";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<meta name="apple-mobile-web-app-title" content="Diamond Eagles" />
		<link rel="manifest" href="/site.webmanifest" />
		<meta name="generator" content={Astro.generator} />
		<title>Diamond Eagles</title>

		<meta name="description" content="" />
		<meta name="keywords" content="" />

		<script is:inline>
			import { theme } from "../assets/_stores";
			if (localStorage.getItem("theme") === null) {
				document.documentElement.setAttribute("data-theme", "light");
				theme.set("light");
			} else {
				document.documentElement.setAttribute(
					"data-theme",
					localStorage.getItem("theme")
				);
				theme.set(localStorage.getItem("theme"));
			}
		</script>
		<!-- <script>
			import { themeChange } from "theme-change";
			themeChange();
		</script> -->
	</head>
	<body>
		<ThemeToggle client:only="svelte" />
		<slot />
	</body>
</html>

<style>
	html,
	body {
		z-index: 1;
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
